// Grays
// -------------------------
$black:                 #000;
$grayDarkest:           #161514;
$grayDarker:            #3F3A34;
$grayDark:              #514E49;
$gray:                  #71695D;
$grayLight:             #908B85;
$grayLighter:           #D0CDC8;
$grayLightest:          #E8E4E2;
$white:                 #fff;

// Accent colors
// -------------------------
$blueDark:              #004963;
$blue:                  #0171A1;
$blueLight:             #A2D5E0;
$yellowDark:            #D75B25;
$yellow:                #FFB92D;
$yellowLight:           #FEC172;
$red:                   #CE4444;
$highlight:             #f9f6b8;

// Layout
// -------------------------
$navWidth:              60px;
$mapWidth:              60px;
$mapWidthMin:           20px;
$imageWidth:            1000px;
$imageHeight:           16500px;
$markerWidth:           200px;
$mapMaxBreak:           $imageWidth + $markerWidth + $navWidth + $mapWidth;
$headerHeight:          40px;
